<header class="header" :class="{ 'header-scrolled': scrolled  }" id="header">
    <div class="header-content">
        <a href="/">
            <div class="logo">
                <!-- <div class="logo-drawing-container">
                    <div class="logo-drawing" ref="logo"></div>
                </div> -->
                <div class="logo-text pre-wrap">{{ data.website.logo_text }}</div>
            </div>
        </a>
        <div class="header-menu">
            <a class="header-menu-item" href="/">
                Home
            </a>
            <a class="header-menu-item" href="/members">
                Members
            </a>
            <a class="header-menu-item" href="/research">
                Research
            </a>
            <a class="header-menu-item" href="/links">
                Links
            </a>
            <a class="header-menu-item" href="/contact">
                Contact
            </a>
        </div>
    </div>
</header>
